name: Build and Publish Docker Image
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v3
      
    # Paso 1: Definir la variable de entorno en minúsculas (MANDATORIO)
    - name: Definir OWNER en minúsculas
      id: lowercase_owner
      run: echo "OWNER=${{ lower(github.repository_owner) }}" >> $GITHUB_OUTPUT

    - name: Login a GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}
        
    - name: Construir imagen
      # Usamos la salida del paso anterior: steps.lowercase_owner.outputs.OWNER
      run: docker build -t ghcr.io/${{ steps.lowercase_owner.outputs.OWNER }}/lab-docker-web:latest .
      
    - name: Publicar imagen en GHCR
      # Usamos la salida del paso anterior
      run: docker push ghcr.io/${{ steps.lowercase_owner.outputs.OWNER }}/lab-docker-web:latest
